# {{ ansible_managed }}

#################################
# 8bit-dns  Allow 8bit dns queries
8bit-dns={{ pdns_conf_8bit_dns | default(omit) }}

#################################
# allow-axfr-ips  Allow zonetransfers only to these subnets
allow-axfr-ips={{ pdns_conf_allow_axfr_ips | default(omit) }}

#################################
# allow-dnsupdate-from  A global setting to allow DNS updates from these IP ranges.
allow-dnsupdate-from={{ pdns_conf_allow_dnsupdate_from | default(omit) }}

#################################
# allow-notify-from Allow AXFR NOTIFY from these IP ranges. If empty, drop all incoming notifies.
allow-notify-from={{ pdns_conf_allow_notify_from | default(omit) }}

#################################
# allow-unsigned-notify Allow unsigned notifications for TSIG secured domains
allow-unsigned-notify={{ pdns_conf_allow_unsigned_notify | default(omit) }}

#################################
# allow-unsigned-supermaster  Allow supermasters to create zones without TSIG signed NOTIFY
allow-unsigned-supermaster={{ pdns_conf_allow_unsigned_supermaster | default(omit) }}

#################################
# also-notify When notifying a domain, also notify these nameservers
also-notify={{ pdns_conf_also_notify | default(omit) }}

#################################
# any-to-tcp  Answer ANY queries with tc=1, shunting to TCP
any-to-tcp={{ pdns_conf_any_to_tcp | default(omit) }}

#################################
# api Enable/disable the REST API (including HTTP listener)
api={{ pdns_conf_api | default(omit) }}

#################################
# api-key Static pre-shared authentication key for access to the REST API
api-key={{ pdns_conf_api_key | default(omit) }}

#################################
# axfr-fetch-timeout  Maximum time in seconds for inbound AXFR to start or be idle after starting
axfr-fetch-timeout={{ pdns_conf_axfr_fetch_timeout | default(omit) }}

#################################
# axfr-lower-serial Also AXFR a zone from a master with a lower serial
axfr-lower-serial={{ pdns_conf_axfr_lower_serial | default(omit) }}

#################################
# cache-ttl Seconds to store packets in the PacketCache
cache-ttl={{ pdns_conf_cache_ttl | default(omit) }}

#################################
# carbon-instance If set overwrites the the instance name default
carbon-instance={{ pdns_conf_carbon_instance | default(omit) }}

#################################
# carbon-interval Number of seconds between carbon (graphite) updates
carbon-interval={{ pdns_conf_carbon_interval | default(omit) }}

#################################
# carbon-namespace  If set overwrites the first part of the carbon string
carbon-namespace={{ pdns_conf_carbon_namespace | default(omit) }}

#################################
# carbon-ourname  If set, overrides our reported hostname for carbon stats
carbon-ourname={{ pdns_conf_carbon_ourname | default(omit) }}

#################################
# carbon-server If set, send metrics in carbon (graphite) format to this server IP address
carbon-server={{ pdns_conf_carbon_server | default(omit) }}

#################################
# chroot  If set, chroot to this directory for more security
chroot={{ pdns_conf_chroot | default(omit) }}

#################################
# config-dir  Location of configuration directory (pdns.conf)
config-dir={{ pdns_conf_config_dir | default(omit) }}

#################################
# config-name Name of this virtual configuration - will rename the binary image
config-name={{ pdns_conf_config_name | default(omit) }}

#################################
# control-console Debugging switch - don't use
control-console={{ pdns_conf_control_console | default(omit) }}

#################################
# daemon  Operate as a daemon
daemon={{ pdns_conf_daemon | default(omit) }}

#################################
# default-api-rectify Default API-RECTIFY value for zones
default-api-rectify={{ pdns_conf_default_api_rectify | default(omit) }}

#################################
# default-ksk-algorithm Default KSK algorithm
default-ksk-algorithm={{ pdns_conf_default_ksk_algorithm | default(omit) }}

#################################
# default-ksk-size  Default KSK size (0 means default)
default-ksk-size={{ pdns_conf_default_ksk_size | default(omit) }}

#################################
# default-publish-cdnskey Default value for PUBLISH-CDNSKEY
default-publish-cdnskey={{ pdns_conf_default_publish_cdnskey | default(omit) }}

#################################
# default-publish-cds Default value for PUBLISH-CDS
default-publish-cds={{ pdns_conf_default_publish_cds | default(omit) }}

#################################
# default-soa-edit  Default SOA-EDIT value
default-soa-edit={{ pdns_conf_default_soa_edit | default(omit) }}

#################################
# default-soa-edit-signed Default SOA-EDIT value for signed zones
default-soa-edit-signed={{ pdns_conf_default_soa_edit_signed | default(omit) }}

#################################
# default-soa-mail  mail address to insert in the SOA record if none set in the backend
default-soa-mail={{ pdns_conf_default_soa_mail | default(omit) }}

#################################
# default-soa-name  name to insert in the SOA record if none set in the backend
default-soa-name={{ pdns_conf_default_soa_name | default(omit) }}

#################################
# default-ttl Seconds a result is valid if not set otherwise
default-ttl={{ pdns_conf_default_ttl | default(omit) }}

#################################
# default-zsk-algorithm Default ZSK algorithm
default-zsk-algorithm={{ pdns_conf_default_zsk_algorithm | default(omit) }}

#################################
# default-zsk-size  Default ZSK size (0 means default)
default-zsk-size={{ pdns_conf_default_zsk_size | default(omit) }}

#################################
# direct-dnskey Fetch DNSKEY, CDS and CDNSKEY RRs from backend during DNSKEY or CDS/CDNSKEY synthesis
direct-dnskey={{ pdns_conf_direct_dnskey | default(omit) }}

#################################
# disable-axfr  Disable zonetransfers but do allow TCP queries
disable-axfr={{ pdns_conf_disable_axfr | default(omit) }}

#################################
# disable-axfr-rectify  Disable the rectify step during an outgoing AXFR. Only required for regression testing.
disable-axfr-rectify={{ pdns_conf_disable_axfr_rectify | default(omit) }}

#################################
# disable-syslog  Disable logging to syslog, useful when running inside a supervisor that logs stdout
disable-syslog={{ pdns_conf_disable_syslog | default(omit) }}

#################################
# distributor-threads Default number of Distributor (backend) threads to start
distributor-threads={{ pdns_conf_distributor_threads | default(omit) }}

#################################
# dname-processing  If we should support DNAME records
dname-processing={{ pdns_conf_dname_processing | default(omit) }}

#################################
# dnssec-key-cache-ttl  Seconds to cache DNSSEC keys from the database
dnssec-key-cache-ttl={{ pdns_conf_dnssec_key_cache_ttl | default(omit) }}

#################################
# dnsupdate Enable/Disable DNS update (RFC2136) support. Default is no.
dnsupdate={{ pdns_conf_dnsupdate | default(omit) }}

#################################
# do-ipv6-additional-processing Do AAAA additional processing
do-ipv6-additional-processing={{ pdns_conf_do_ipv6_additional_processing | default(omit) }}

#################################
# domain-metadata-cache-ttl Seconds to cache domain metadata from the database
domain-metadata-cache-ttl={{ pdns_conf_domain_metadata_cache_ttl | default(omit) }}

#################################
# edns-subnet-processing  If we should act on EDNS Subnet options
edns-subnet-processing={{ pdns_conf_edns_subnet_processing | default(omit) }}

#################################
# enable-lua-records  Process LUA records for all zones (metadata overrides this)
enable-lua-records={{ pdns_conf_enable_lua_records | default(omit) }}

#################################
# entropy-source  If set, read entropy from this file
entropy-source={{ pdns_conf_entropy_source | default(omit) }}

#################################
# expand-alias  Expand ALIAS records
expand-alias={{ pdns_conf_expand_alias | default(omit) }}

#################################
# forward-dnsupdate A global setting to allow DNS update packages that are for a Slave domain, to be forwarded to the master.
forward-dnsupdate={{ pdns_conf_forward_dnsupdate | default(omit) }}

#################################
# forward-notify  IP addresses to forward received notifications to regardless of master or slave settings
forward-notify={{ pdns_conf_forward_notify | default(omit) }}

#################################
# guardian  Run within a guardian process
guardian={{ pdns_conf_guardian | default(omit) }}

#################################
# include-dir Include *.conf files from this directory
include-dir={{ pdns_conf_include_dir | default(omit) }}

#################################
# launch  Which backends to launch and order to query them in
launch={{ pdns_backend_launch }}

#################################
# load-modules  Load this module - supply absolute or relative path
load-modules={{ pdns_conf_load_modules }}

#################################
# local-address Local IP addresses to which we bind
local-address={{ pdns_conf_local_address | default(omit) }}

#################################
# local-address-nonexist-fail Fail to start if one or more of the local-address's do not exist on this server
local-address-nonexist-fail={{ pdns_conf_local_address_nonexist_fail | default(omit) }}

#################################
# local-port  The port on which we listen
local-port={{ pdns_conf_local_port | default(omit) }}

#################################
# log-dns-details If PDNS should log DNS non-erroneous details
log-dns-details={{ pdns_conf_log_dns_details | default(omit) }}

#################################
# log-dns-queries If PDNS should log all incoming DNS queries
log-dns-queries={{ pdns_conf_log_dns_queries | default(omit) }}

#################################
# log-timestamp Print timestamps in log lines
log-timestamp={{ pdns_conf_log_timestamp | default(omit) }}

#################################
# logging-facility  Log under a specific facility
logging-facility={{ pdns_conf_logging_facility | default(omit) }}

#################################
# loglevel  Amount of logging. Higher is more. Do not set below 3
loglevel={{ pdns_conf_loglevel | default(omit) }}

#################################
# lua-axfr-script Script to be used to edit incoming AXFRs
lua-axfr-script={{ pdns_conf_lua_axfr_script | default(omit) }}

#################################
# lua-dnsupdate-policy-script Lua script with DNS update policy handler
lua-dnsupdate-policy-script={{ pdns_conf_lua_dnsupdate_policy_script | default(omit) }}

#################################
# lua-health-checks-expire-delay  Stops doing health checks after the record hasn't been used for that delay (in seconds)
lua-health-checks-expire-delay={{ pdns_conf_lua_health_checks_expire_delay | default(omit) }}

#################################
# lua-health-checks-interval  LUA records health checks monitoring interval in seconds
lua-health-checks-interval={{ pdns_conf_lua_health_checks_interval | default(omit) }}

#################################
# lua-prequery-script Lua script with prequery handler (DO NOT USE)
lua-prequery-script={{ pdns_conf_lua_prequery_script | default(omit) }}

#################################
# lua-records-exec-limit  LUA records scripts execution limit (instructions count). Values <= 0 mean no limit
lua-records-exec-limit={{ pdns_conf_lua_records_exec_limit | default(omit) }}

#################################
# master  Act as a master
master={{ pdns_conf_master | default(omit) }}

#################################
# max-cache-entries Maximum number of entries in the query cache
max-cache-entries={{ pdns_conf_max_cache_entries | default(omit) }}

#################################
# max-ent-entries Maximum number of empty non-terminals in a zone
max-ent-entries={{ pdns_conf_max_ent_entries | default(omit) }}

#################################
# max-generate-steps  Maximum number of $GENERATE steps when loading a zone from a file
max-generate-steps={{ pdns_conf_max_generate_steps | default(omit) }}

#################################
# max-nsec3-iterations  Limit the number of NSEC3 hash iterations
max-nsec3-iterations={{ pdns_conf_max_nsec3_iterations | default(omit) }}

#################################
# max-packet-cache-entries  Maximum number of entries in the packet cache
max-packet-cache-entries={{ pdns_conf_max_packet_cache_entries | default(omit) }}

#################################
# max-queue-length  Maximum queuelength before considering situation lost
max-queue-length={{ pdns_conf_max_queue_length | default(omit) }}

#################################
# max-signature-cache-entries Maximum number of signatures cache entries
max-signature-cache-entries={{ pdns_conf_max_signature_cache_entries | default(omit) }}

#################################
# max-tcp-connection-duration Maximum time in seconds that a TCP DNS connection is allowed to stay open.
max-tcp-connection-duration={{ pdns_conf_max_tcp_connection_duration | default(omit) }}

#################################
# max-tcp-connections Maximum number of TCP connections
max-tcp-connections={{ pdns_conf_max_tcp_connections | default(omit) }}

#################################
# max-tcp-connections-per-client  Maximum number of simultaneous TCP connections per client
max-tcp-connections-per-client={{ pdns_conf_max_tcp_connections_per_client | default(omit) }}

#################################
# max-tcp-transactions-per-conn Maximum number of subsequent queries per TCP connection
max-tcp-transactions-per-conn={{ pdns_conf_max_tcp_transactions_per_conn | default(omit) }}

#################################
# module-dir  Default directory for modules

#################################
# negquery-cache-ttl  Seconds to store negative query results in the QueryCache
negquery-cache-ttl={{ pdns_conf_negquery_cache_ttl | default(omit) }}

#################################
# no-shuffle  Set this to prevent random shuffling of answers - for regression testing
no-shuffle={{ pdns_conf_no_shuffle | default(omit) }}

#################################
# non-local-bind  Enable binding to non-local addresses by using FREEBIND / BINDANY socket options
non-local-bind={{ pdns_conf_non_local_bind | default(omit) }}

#################################
# only-notify Only send AXFR NOTIFY to these IP addresses or netmasks
only-notify={{ pdns_conf_only_notify | default(omit) }}

#################################
# outgoing-axfr-expand-alias  Expand ALIAS records during outgoing AXFR
outgoing-axfr-expand-alias={{ pdns_conf_outgoing_axfr_expand_alias | default(omit) }}

#################################
# overload-queue-length Maximum queuelength moving to packetcache only
overload-queue-length={{ pdns_conf_overload_queue_length | default(omit) }}

#################################
# prevent-self-notification Don't send notifications to what we think is ourself
prevent-self-notification={{ pdns_conf_prevent_self_notification | default(omit) }}

#################################
# query-cache-ttl Seconds to store query results in the QueryCache
query-cache-ttl={{ pdns_conf_query_cache_ttl | default(omit) }}

#################################
# query-local-address Source IP address for sending queries
query-local-address={{ pdns_conf_query_local_address | default(omit) }}

#################################
# query-local-address6  Source IPv6 address for sending queries
query-local-address6={{ pdns_conf_query_local_address6 | default(omit) }}

#################################
# query-logging Hint backends that queries should be logged
query-logging={{ pdns_conf_query_logging | default(omit) }}

#################################
# queue-limit Maximum number of milliseconds to queue a query
queue-limit={{ pdns_conf_queue_limit | default(omit) }}

#################################
# receiver-threads  Default number of receiver threads to start
receiver-threads={{ pdns_conf_receiver_threads | default(omit) }}

#################################
# resolver  Use this resolver for ALIAS and the internal stub resolver
resolver={{ pdns_conf_resolver | default(omit) }}

#################################
# retrieval-threads Number of AXFR-retrieval threads for slave operation
retrieval-threads={{ pdns_conf_retrieval_threads | default(omit) }}

#################################
# reuseport Enable higher performance on compliant kernels by using SO_REUSEPORT allowing each receiver thread to open its own socket
reuseport={{ pdns_conf_reuseport | default(omit) }}

#################################
# rng Specify the random number generator to use. Valid values are auto,sodium,openssl,getrandom,arc4random,urandom.
rng={{ pdns_conf_rng | default(omit) }}

#################################
# security-poll-suffix  Domain name from which to query security update notifications
security-poll-suffix={{ pdns_conf_security_poll_suffix | default(omit) }}

#################################
# send-signed-notify  Send TSIG secured NOTIFY if TSIG key is configured for a domain
send-signed-notify={{ pdns_conf_send_signed_notify | default(omit) }}

#################################
# server-id Returned when queried for 'id.server' TXT or NSID, defaults to hostname - disabled or custom
server-id={{ pdns_conf_server_id | default(omit) }}

#################################
# setgid  If set, change group id to this gid for more security
setgid={{ pdns_conf_setgid | default(omit) }}

#################################
# setuid  If set, change user id to this uid for more security
setuid={{ pdns_conf_setuid | default(omit) }}

#################################
# signing-threads Default number of signer threads to start
signing-threads={{ pdns_conf_signing_threads | default(omit) }}

#################################
# slave Act as a slave
slave={{ pdns_conf_slave | default(omit) }}

#################################
# slave-cycle-interval  Schedule slave freshness checks once every .. seconds
slave-cycle-interval={{ pdns_conf_slave_cycle_interval | default(omit) }}

#################################
# slave-renotify  If we should send out notifications for slaved updates
slave-renotify={{ pdns_conf_slave_renotify | default(omit) }}

#################################
# soa-expire-default  Default SOA expire
soa-expire-default={{ pdns_conf_soa_expire_default | default(omit) }}

#################################
# soa-minimum-ttl Default SOA minimum ttl
soa-minimum-ttl={{ pdns_conf_soa_minimum_ttl | default(omit) }}

#################################
# soa-refresh-default Default SOA refresh
soa-refresh-default={{ pdns_conf_soa_refresh_default | default(omit) }}

#################################
# soa-retry-default Default SOA retry
soa-retry-default={{ pdns_conf_soa_retry_default | default(omit) }}

#################################
# socket-dir  Where the controlsocket will live, /var/run/pdns when unset and not chrooted
socket-dir={{ pdns_conf_socket_dir | default(omit) }}

#################################
# superslave  Act as a superslave
superslave={{ pdns_conf_superslave | default(omit) }}

#################################
# tcp-control-address If set, PowerDNS can be controlled over TCP on this address
tcp-control-address={{ pdns_conf_tcp_control_address | default(omit) }}

#################################
# tcp-control-port  If set, PowerDNS can be controlled over TCP on this address
tcp-control-port={{ pdns_conf_tcp_control_port | default(omit) }}

#################################
# tcp-control-range If set, remote control of PowerDNS is possible over these networks only
tcp-control-range={{ pdns_conf_tcp_control_range | default(omit) }}

#################################
# tcp-control-secret  If set, PowerDNS can be controlled over TCP after passing this secret
tcp-control-secret={{ pdns_conf_tcp_control_secret | default(omit) }}

#################################
# tcp-fast-open Enable TCP Fast Open support on the listening sockets, using the supplied numerical value as the queue size
tcp-fast-open={{ pdns_conf_tcp_fast_open | default(omit) }}

#################################
# tcp-idle-timeout  Maximum time in seconds that a TCP DNS connection is allowed to stay open while being idle
tcp-idle-timeout={{ pdns_conf_tcp_idle_timeout | default(omit) }}

#################################
# traceback-handler Enable the traceback handler (Linux only)
traceback-handler={{ pdns_conf_traceback_handler | default(omit) }}

#################################
# trusted-notification-proxy  IP address of incoming notification proxy
trusted-notification-proxy={{ pdns_conf_trusted_notification_proxy | default(omit) }}

#################################
# udp-truncation-threshold  Maximum UDP response size before we truncate
udp-truncation-threshold={{ pdns_conf_udp_truncation_threshold | default(omit) }}

#################################
# version-string  PowerDNS version in packets - full, anonymous, powerdns or custom
version-string={{ pdns_conf_version_string | default(omit) }}

#################################
# webserver Start a webserver for monitoring (api=yes also enables the HTTP listener)
webserver={{ pdns_conf_webserver | default(omit) }}

#################################
# webserver-address IP Address of webserver/API to listen on
webserver-address={{ pdns_conf_webserver_address | default(omit) }}

#################################
# webserver-allow-from  Webserver/API access is only allowed from these subnets
webserver-allow-from={{ pdns_conf_webserver_allow_from | default(omit) }}

#################################
# webserver-loglevel  Amount of logging in the webserver (none, normal, detailed)
webserver-loglevel={{ pdns_conf_webserver_loglevel | default(omit) }}

#################################
# webserver-max-bodysize  Webserver/API maximum request/response body size in megabytes
webserver-max-bodysize={{ pdns_conf_webserver_max_bodysize | default(omit) }}

#################################
# webserver-password  Password required for accessing the webserver
webserver-password={{ pdns_conf_webserver_password | default(omit) }}

#################################
# webserver-port  Port of webserver/API to listen on
webserver-port={{ pdns_conf_webserver_port | default(omit) }}

#################################
# webserver-print-arguments If the webserver should print arguments
webserver-print-arguments={{ pdns_conf_webserver_print_arguments | default(omit) }}

#################################
# write-pid Write a PID file
write-pid={{ pdns_conf_write_pid | default(omit) }}

#################################
# xfr-max-received-mbytes Maximum number of megabytes received from an incoming XFR
xfr-max-received-mbytes={{ pdns_conf_xfr_max_received_mbytes | default(omit) }}
